In [2]:
import sys
sys.path.append(r"C:\Users\info\Documents\NORRDATA\Proyectos\livs-automation-reporting\src")

In [3]:
from ingest.detect_files import get_incoming_files
from ingest.read_csv import read_csv_file
from clean.clean_record import clean_dataframe

In [4]:
files = get_incoming_files()
df, missing = read_csv_file(files[0])

In [5]:
import pandas as pd

In [7]:
clean_df = clean_dataframe(df)

In [8]:
df.head()

,sale_id,sale_date,product_name,category,quantity,unit_price,total_amount,payment_method,status
0,S-20260112-00832,2026-01-12,Tonfisk burk,Pantry,1,24.9,24.9,card,completed
1,S-20260112-00125,2026-01-12,Bananer,Produce,1,29.9,29.9,swish,completed
2,S-20260112-01432,12/01/2026,Krossade tomater,Pantry,1,14.9,14.9,card,completed
3,S-20260112-01614,2026-01-12,Ägg 12-pack,Dairy,1,39.9,39.9,card,refunded
4,S-20260112-00701,2026-01-12,Mjölk 1L,Dairy,1,18.9,18.9,card,completed

In [9]:
clean_df.head()

,sale_id,sale_date,product_name,category,quantity,unit_price,total_amount,payment_method,status
0,S-20260112-00832,2026-01-12,Tonfisk burk,Pantry,1,24.9,24.9,card,completed
1,S-20260112-00125,2026-01-12,Bananer,Produce,1,29.9,29.9,swish,completed
3,S-20260112-01614,2026-01-12,Ägg 12-pack,Dairy,1,39.9,39.9,card,refunded
4,S-20260112-00701,2026-01-12,Mjölk 1L,Dairy,1,18.9,18.9,card,completed
5,S-20260112-00650,2026-01-12,Krossade tomater,Pantry,1,14.9,14.9,card,completed

In [10]:
clean_df.info()

<class 'pandas.DataFrame'>
Index: 1941 entries, 0 to 2655
Data columns (total 9 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   sale_id         1941 non-null   str
 1   sale_date       1941 non-null   datetime64[us]
 2   product_name    1941 non-null   str
 3   category        1941 non-null   str
 4   quantity        1941 non-null   int64
 5   unit_price      1941 non-null   float64
 6   total_amount    1941 non-null   float64
 7   payment_method  1941 non-null   str
 8   status          1941 non-null   str
dtypes: datetime64[us](1), float64(2), int64(1), str(5)
memory usage: 151.6 KB